// ALL
.allproducts_main_div{
    height: fit-content;
    width: 100%;
}
.btn-allpd_back1{
    position: fixed;
    left: 3%;
    bottom: 10%;
    z-index: 3;
}
.btn-allpd_back2{
    display: none;
}



// WATCHES PAGE / HORLOGE PAGE
// WATCHES PAGE / HORLOGE PAGE
.foreach_watches{
    margin-top: 5rem;
}
.ap_watches_div{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3) ), url("/images/product_index_page_images/product_watch_background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: fit-content;
    min-height: 100vh;
}
.horloge_title{
    margin-top: 3rem;
}
.horloge_card{
    margin: 2rem;
    width: 15%;
    background-color: #a6865b;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}



// BELTS PAGE / RIEMEN PAGE
// BELTS PAGE / RIEMEN PAGE
.foreach_belts{
    margin-top: 3rem;
}
.ap_belts_div{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3) ), url("/images/product_index_page_images/product_belt_background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    height: fit-content;
    min-height: 100vh;
    margin: 0%;
}
.riemen_title{
    z-index: 4;
    margin-top: 3rem;
}
.riemen_card{
    margin: 2rem;
    width: 15%;
    background-color: #a6865b;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}















/* MOBILE BREAKPOINTS */
/* MOBILE BREAKPOINTS */
/* MOBILE BREAKPOINTS */
@media screen and (max-width: 1000px) {
    .btn-allpd_back1{
        display: none;
    }
    .btn-allpd_back2{
        margin-top: 1rem;
        display: block;
    }

    // WATCHES MOBILE PAGE
    // WATCHES MOBILE PAGE
    .foreach_watches{
        margin-top: 1rem;
        padding: 0%;
    }
    .ap_watches_div{
        height: fit-content;
        flex-direction: column;
        padding: 1rem;
    }
    .horloge_title{
        margin-top: 3rem;
        position: relative;
        left: 0%;
        top: 0%;
    }
    .horloge_card{
        width: 100%;
        margin: 2rem;
    }



    // BELTS MOBILE PAGE
    // BELTS MOBILE PAGE
    .foreach_belts{
        margin-top: 1rem;
        padding: 0%;
    }
    .ap_belts_div{
        border-top: 2px solid black;
        height: fit-content;
        width: 100%;
        flex-direction: column;
        padding: 1rem;
    }
    .riemen_title{
        position: relative;
        left: 0%;
        top: 0%;
    }
    .riemen_card{
        width: 100%;
        margin: 2rem;
    }




}
