// ALL
.allproducts_main_div{
    height: fit-content;
    width: 100%;
}
.btn-allpd_back1{
    position: fixed;
    left: 10%;
    bottom: 10%;
    z-index: 3;
}
.btn-allpd_back2{
    display: none;
}



// WATCHES PAGE / HORLOGE PAGE
// WATCHES PAGE / HORLOGE PAGE
.ap_watches_div{
    background-color: #592c22;
    height: fit-content;
    min-height: 100vh;
}
.horloge_title{
    position: absolute;
    top: 5%;
    right: 15%;
}
.horloge_card{
    width: 15rem;
    margin: 2rem;
    background-color: #a6867b;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}



// BELTS PAGE / RIEMEN PAGE
// BELTS PAGE / RIEMEN PAGE
.ap_belts_div{
    background-color: #592c22;
    height: fit-content;
    min-height: 100vh;
}
.riemen_title{
    z-index: 2;
    position: absolute;
    top: 110%;
    left: 10%;
}
.riemen_card{
    width: 15rem;
    margin: 2rem;
    background-color: #a6867b;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}















/* MOBILE BREAKPOINTS */
/* MOBILE BREAKPOINTS */
/* MOBILE BREAKPOINTS */
@media screen and (max-width: 1000px) {
    .btn-allpd_back1{
        display: none;
    }
    .btn-allpd_back2{
        margin-top: 1rem;
        display: block;
    }

    // WATCHES MOBILE PAGE
    // WATCHES MOBILE PAGE
    .ap_watches_div{
        height: fit-content;
        width: 100%;
        flex-direction: column;
        padding: 1rem;
    }
    .horloge_title{
        position: relative;
        left: 0%;
        top: 0%;
    }
    .horloge_card{
        width: 100%;
        margin: 2rem;
    }



    // BELTS MOBILE PAGE
    // BELTS MOBILE PAGE
    .ap_belts_div{
        border-top: 2px solid black;
        height: fit-content;
        width: 100%;
        flex-direction: column;
        padding: 1rem;
    }
    .riemen_title{
        position: relative;
        left: 0%;
        top: 0%;
    }
    .riemen_card{
        width: 100%;
        margin: 2rem;
    }




}
