.buy_page_container_div{
    background: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.3) ), url("/images/buy_page_images/buy_background.webp");
    height: 100vh;
    margin: 0%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


// Buy Page DIV1    (LEFT)
// Buy Page DIV1    (LEFT)
.bp_div1{
    margin: 0%;
}
.bp_div1_cart{
    height: 4rem;
    width: 18rem;
    position: absolute;
    top: 30%;
}
.bp_div1_img{
    height: 12rem;
    width: 18rem;
    position: absolute;
    top: 43%;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}
.bp_btn_back1{
    position: absolute;
    top: 85%;
    left: 15%;
}



// Buy Page DIV2    (MIDDLE)
// Buy Page DIV2    (MIDDLE)
.bp_div2{
    margin: 0%;
}
.bp_div2_tracker{
    height: 5rem;
    width: 40rem;
    position: absolute;
    top: 20%;
}
.number1-icon{
    height: 3rem;
    width: 3rem;
    filter: invert(100%) sepia(7%) saturate(7436%) hue-rotate(158deg) brightness(119%) contrast(102%);
    margin-right: 3rem;
}
.number2-icon{
    height: 3rem;
    width: 3rem;
    filter: invert(59%) sepia(4%) saturate(3991%) hue-rotate(355deg) brightness(91%) contrast(83%);
    margin-left: 3rem;
}
.dashedline-icon{
    height: 3rem;
    width: 3rem;
    filter: invert(59%) sepia(4%) saturate(3991%) hue-rotate(355deg) brightness(91%) contrast(83%);
    margin-left: 1rem;
    margin-right: 1rem;
}
.bp_div2_info{
    height: 19.7rem;
    width: 50rem;
    position: absolute;
    top: 30%;
}
.bp_div2_info_inner{
    height: 90%;
    width: 95%;
    background-color: #a6865b;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}
.product_name_underline_buy{
    border-bottom: 2px dashed #776042;
    width: 90%;
    position: relative;
    top: -40%;
}
.bp_div2_discount{
    height: 8rem;
    width: 50rem;
    position: absolute;
    top: 65%;
}
.bp_div2_discount_inner{
    height: 80%;
    width: 95%;
    background-color: #a6865b;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}
.discount_code{
    background-color: #5c2b26;
    height: 3rem;
    border-radius: 5px;
    font-size: 2rem;
    width: 8ch;
}



// Buy Page DIV3    (RIGHT)
// Buy Page DIV3    (RIGHT)
.bp_div3{
    margin: 0%;
}
.bp_div3_total{
    height: 19.7rem;
    width: 18rem;
    position: absolute;
    top: 30%;
}
.bp_div3_cont{
    background-color: rgb(106, 189, 22);
    height: 8rem;
    width: 15rem;
    position: absolute;
    top: 75%;
    left: 21.5%;
}
.bp_btn_back2{
    display: none;
}
.bp_div3_total_inner{
    height: 90%;
    width: 90%;
    background-color: #a6865b;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}






/* MOBILE BREAKPOINTS */
/* MOBILE BREAKPOINTS */
/* MOBILE BREAKPOINTS */
@media screen and (max-width: 1000px) {
    // MAIN DIV
    // MAIN DIV

    .buy_page_container_div{
        width: 100vw;
        height: fit-content;
        margin: 0%;
        padding: 0%;
        background-color: black;
    }


    // Buy Page DIV1   MOBILE (LEFT)
    // Buy Page DIV1   MOBILE (LEFT)
    .bp_div1{
        height: fit-content;
        width: 100%;
    }
    .bp_div1_cart{
        width: 100%;
        position: relative;
        margin-top: 6rem;
    }
    .bp_div1_img{
        width: 100%;
        height: 80%;
        position: relative;
        top: 10%;
        margin-bottom: 3rem;
    }
    .bp_btn_back1{
        display: none;
    }


    // Buy Page DIV2   MOBILE (MIDDLE)
    // Buy Page DIV2   MOBILE (MIDDLE)
    .bp_div2{
        height: fit-content;
        margin-top: 2rem;
        width: 100%;
    }
    .bp_div2_tracker{
        position: relative;
        margin-top: 2rem;
    }
    .bp_div2_info{
        position: relative;
        margin-top: 1rem;
    }
    .bp_div2_discount{
        position: relative;
        margin-top: 1rem;
    }
    .bp_div2_discount_inner{
        width: 95%;
    }


    // Buy Page DIV3   MOBILE (RIGHT)
    // Buy Page DIV3   MOBILE (RIGHT)
    .bp_div3{
        height: fit-content;
        width: 100%;
        margin-top: 1rem;
    }
    .bp_div3_total{
        position: relative;
        width: 100%;
    }
    .bp_div3_cont{
        height: 5rem;
        width: 8rem;
        position: fixed;
        left: 70%;
        top: 85%;
    }
    .bp_btn_back2{
        display: block;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .bp_div3_total_inner{
        width: 95%;
    }

}







































// BUY PAGE PART 2
// BUY PAGE PART 2
// BUY PAGE PART 2
// BUY PAGE PART 2
// BUY PAGE PART 2
.bp_div1_pt2{
    margin: 0%;
}
.bp_div1_cart_pt2{
    height: 4rem;
    width: 18rem;;
    position: absolute;
    top: 30%;
}
.bp_div1_img_pt2{
    height: 12rem;
    width: 18rem;
    position: absolute;
    top: 43%;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}
.bp_btn_back1_pt2{
    position: absolute;
    top: 85%;
    left: 15%;
}





// BUY PAGE PART 2 MIDDLE
// BUY PAGE PART 2 MIDDLE
.bp_div2_pt2{
    margin: 0%;
}
.bp_div2_tracker_pt2{
    height: 5rem;
    width: 40rem;
    position: absolute;
    top: 20%;
}
.number1-icon-pt2{
    height: 3rem;
    width: 3rem;
    filter: invert(100%) sepia(7%) saturate(7436%) hue-rotate(158deg) brightness(119%) contrast(102%);
    margin-right: 3rem;
}
.number2-icon-pt2{
    height: 3rem;
    width: 3rem;
    filter: invert(100%) sepia(7%) saturate(7436%) hue-rotate(158deg) brightness(119%) contrast(102%);
    margin-left: 3rem;
}
.dashedline-icon-pt2{
    height: 3rem;
    width: 3rem;
    filter: invert(100%) sepia(7%) saturate(7436%) hue-rotate(158deg) brightness(119%) contrast(102%);
    margin-left: 1rem;
    margin-right: 1rem;
}
.bp_div2_info_pt2{
    height: 19.7rem;
    width: 50rem;
    position: absolute;
    top: 30%;
}
.bp_div2_info_inner_pt2{
    height: 90%;
    width: 95%;
    background-color: #a6865b;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}
.product_name_underline_buy_pt2{
    border-bottom: 2px dashed #776042;
    width: 90%;
    position: relative;
    top: -15.5%;
}
.ideal-icon{
    height: 6rem;
    width: 6rem;
    cursor: pointer;
    margin-right: 2rem;
}
.bitcoin-icon{
    height: 6rem;
    width: 6rem;
    cursor: pointer;
    margin-left: 2rem;
}
.bp_div2_delivery_pt2{
    height: 14rem;
    width: 50rem;
    position: absolute;
    top: 65%;
}
.bp_div2_delivery_pt2_inner{
    height: 85%;
    width: 95%;
    background-color: #a6865b;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}
.expected_delivery_underline{
    border-bottom: 2px dashed #776042;
    width: 90%;
    position: relative;
    bottom: 30%;
}


// BUY PAGE PART 2 RIGHT
// BUY PAGE PART 2 RIGHT
.bp_div3_pt2{

    margin: 0%;
}
.bp_div3_cont_pt2{
    background-color: rgb(106, 189, 22);
    height: 8rem;
    width: 15rem;
    position: absolute;
    top: 75%;
    left: 21.5%;
}
.bp_btn_back2_pt2{
    display: none;
}




/* MOBILE BREAKPOINTS PT2*/
/* MOBILE BREAKPOINTS PT2*/
/* MOBILE BREAKPOINTS PT2*/
@media screen and (max-width: 1000px) {
    // Buy Page DIV1  PT2 MOBILE (LEFT)
    // Buy Page DIV1  PT2 MOBILE (LEFT)
    .bp_div1_pt2{
        height: fit-content;
        width: 100%;
    }
    .bp_div1_cart_pt2{
        width: 100%;
        position: relative;
        margin-top: 6rem;
    }
    .bp_div1_img_pt2{
        width: 100%;
        height: 80%;
        position: relative;
        top: 10%;
        margin-bottom: 3rem;
    }
    .bp_btn_back1_pt2{
        display: none;
    }


    // Buy Page DIV2   PT2 MOBILE (MIDDLE)
    // Buy Page DIV2   PT2 MOBILE (MIDDLE)
    .bp_div2_pt2{
        height: fit-content;
        width: 100%;
        margin-top: 2rem;
    }
    .bp_div2_tracker_pt2{
        position: relative;
        margin-top: 2rem;
    }
    .bp_div2_info_pt2{
        position: relative;
        margin-top: 1rem;
    }
    .bp_div2_delivery_pt2{
        position: relative;
        margin-top: 1rem;
    }


    // Buy Page DIV3  PT2 MOBILE (RIGHT)
    // Buy Page DIV3  PT2 MOBILE (RIGHT)
    .bp_div3_pt2{
        height: fit-content;
        width: 100%;
        margin-top: 1rem;
    }
    .bp_div3_total_pt2{
        position: relative;
        width: 100%;
    }
    .bp_div3_cont_pt2{
        height: 5rem;
        width: 8rem;
        position: fixed;
        left: 70%;
        top: 85%;
    }
    .bp_btn_back2_pt2{
        display: block;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

}
