.sp_slide {
    width: 100vw;
    height: 100vh;
}
.show_page_inner-wrapper {
    display: flex;
    flex-direction: row;
    width: 190vw;
}


// SHOW PAGE LEFT HALF
// SHOW PAGE LEFT HALF
.sp_lefthalf {
    background: #401d1a;
}
.btn-showpage1{
    top: 90%;
    left: 2.5%;
    position: fixed;

}
// PRODUCT PICTURES DIV
.sp_left_div1{
    width: 60rem;
    height: 40rem;
    background-color: #5c2b26;
    margin-left: 10rem;
    margin-right: 5rem;
    position: absolute;
    left: 0%;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}
.sp_left_div1 h1{
    font-weight: bold;
    font-size: 2rem;
}
.sp_left_div1_container{
    width: 12rem;
    height: 10rem;
    background-color: #a6865b;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}
.sp_left_div1_img{
    width: 11rem;
    height: 9rem;
    border-radius: 5px;
}

// PRODUCT INFO DIV
.sp_left_div2{
    width: 60rem;
    height: 40rem;
    background-color: #5c2b26;
    margin-left: 10rem;
    margin-right: 15rem;
    position: absolute;
    left: 30%;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}
// PRODUCT REVIEW DIV
.sp_left_div3{
    width: 60rem;
    height: 40rem;
    background-color: #5c2b26;
    margin-left: 10rem;
    margin-right: 15rem;
    position: absolute;
    left: 60%;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}
.sp_left_div3 h1{
    font-weight: bold;
    font-size: 2rem;
}

.div3_review_div{
    height: 13rem;
    background-color: #a6865b;
    margin-bottom: 2rem;
    border-radius: 5px;
}
.btn-review{
    position: relative;
    right: -50%;
    top: -3%;
}
.btn-showpage2{
    display: none;
}







// SHOW PAGE RIGHT HALF
// SHOW PAGE RIGHT HALF
.sp_righthalf {
    background-image: linear-gradient( 114deg,#401d1a 600px, #000 );
}





// OTHER OTHER OTHER
// OTHER OTHER OTHER
.show_page_inner-wrapper {
      transform: rotate(90deg) translateY(-100vh);
      transform-origin: top left;
}
.show_page_outer-wrapper {
      width: 100vh;
      height: 100vw;
      transform: rotate(-90deg) translateX(-100vh);
      transform-origin: top left;
      overflow-y: scroll;
      overflow-x: hidden;
      position: absolute;
      scrollbar-width: none;
      -ms-overflow-style: none;
}

::-webkit-scrollbar {
      display:none;
}


















/* MOBILE BREAKPOINTS */
/* MOBILE BREAKPOINTS */
/* MOBILE BREAKPOINTS */
@media screen and (max-width: 1000px) {
    .btn-showpage1{
        display: none;
    }
    .show_page_inner-wrapper {
        transform: none;
        transform-origin: top left;
    }
    .show_page_outer-wrapper {
        width: 100%;
        height: fit-content;
        transform: none;
        transform-origin: top left;
        overflow-x: hidden;
        position: absolute;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .sp_slide {
        margin: 0%;
        width: 100%;
        height: fit-content;

    }





    // LEFT HALF DIV MOBILE
    // LEFT HALF DIV MOBILE
    .sp_lefthalf{
        height: fit-content;
        flex-direction: column;
        padding: 0%;
      }
    // LEFT HALF MOBILE, PRODUCT PICTURE DIV
    .sp_left_div1{
        margin: 0%;
        left: 0%;
        position: relative;
        width: 110%;
        border-radius: 0px;
    }
    // LEFT HALF MOBILE, PRODUCT INFO DIV
    .sp_left_div2{
        left: 0%;
        margin: 0%;
        position: relative;
        width: 110%;
        border-radius: 0px;
    }
    // LEFT HALF MOBILE, REVIEW INFO DIV
    .sp_left_div3{
        margin: 0%;
        left: 0%;
        position: relative;
        width: 110%;
        height: fit-content;
        padding-bottom: 1rem;
        border-radius: 0px;
    }
    .btn-review{
        margin-bottom: 5rem;
    }
    .btn-showpage2{
        display: block;
        margin-top: 3rem;
    }

}
