/* Start Screen Div */
/* Start Screen Div */
.start_screen_div {
    background-image: url('~/images/background_main.jpg');
    height: 100vh;
}

.space_divs {
    height: 8vh;
}
.space_divs2 {
    height: 8vh;
    background-color: #401d1a;
}




/* Product intro with 4 Square images */
/* Product intro with 4 Square images */
.product_intro_4square_div{
    height: 100vh;
    //background-image: linear-gradient(#000 20px, #401d1a 500px);
    //background-position: top -200px right;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('~/images/landing_page_images/hand_with_sand.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: inline-block;
    overflow: auto;
}

.product_intro_4square_content_div1{
    height: auto;
    overflow: hidden;
}

.product_intro_4square_content_div2{
    height: auto;
    overflow: hidden;
}

.pi4cd_text{
    margin-top: 2em;
    max-width: 25rem;
}

.product_intro_squaredivs1{
    height: 20rem;
    width: 23rem;
    min-width: 20rem;
    background-image: url('~/images/landing_page_images/example_belt_01.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
    position: relative;
    border-radius: 5px;
}
.product_intro_squaredivs2{
    height: 20rem;
    width: 23rem;
    min-width: 20rem;
    background-image: url('~/images/landing_page_images/example_watch_01.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
    position: relative;
    border-radius: 5px;
}
.product_intro_squaredivs3{
    height: 20rem;
    width: 23rem;
    min-width: 20rem;;
    background-image: url('~/images/landing_page_images/example_watch_02.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
    position: relative;
    border-radius: 5px;
}
.product_intro_squaredivs4{
    height: 20rem;
    width: 23rem;
    min-width: 20rem;
    background-image: url('~/images/landing_page_images/example_belt_02.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
    position: relative;
    border-radius: 5px;
}

.product_intro_text{
    font-size: 1.5rem;
}

.squarediv_btn{
    position: absolute;
    bottom: 1em;
    right: 1em;
}




/* Big Double Divs Pic Left */
/* Big Double Divs Pic Left */
.big_double_divs_pic_left{
    height: 100vh;
    background-image: linear-gradient(167deg,#401d1a 380px, #000 );
    margin: 0%;
}

.bddpl_div1{
    height: 90%;
    background-color: grey;
    background-image: url('~/images/landing_page_images/skill_01.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}

.bddpl_div2{
    height: 90%;
}

.bddpl_div2_txt{
    max-width: 15rem;
    font-size: 1.3rem;
}

/* Big Double Divs Pic Right */
/* Big Double Divs Pic Right */
.big_double_divs_pic_right{
    height: 100%;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('~/images/landing_page_images/skill_02.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0%;
}

.bddpr_div1{
    height: 90%;
    background-color: grey;
    background-image: url('~/images/landing_page_images/vintage_workshop.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}

.bddpr_div2{
    height: 90%;
}

.bddpr_div2_txt{
    font-size: 1.3rem;
    max-width: 15rem;
}

/* Review Section Front Page */
/* Review Section Front Page */
.review_section_frontpage_div{
    height: 100vh;
    background-image: linear-gradient(#401d1a 200px, #000 1400px);
    margin: 0%;
}
.rsf_div1{
    height: 90%;
    min-width: 50%;
    background-color: #5c2b26;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.rsf_div2{
    height: 90%;
    background-color: #5c2b26;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.rsf_div1_txt{
    max-width: 15rem;
    font-size: 1.1rem;
}
.rsf_div1_btn{
    display: block;
    margin-top: 1em;
}

.rsf_div2_box1, .rsf_div2_box2, .rsf_div2_box3, .rsf_div2_box4{
    background-color: #a6865b;
    height: 15rem;
    width: 20rem;
    overflow: hidden;
    border-radius: 10px;
    padding-top: 0.5rem;
}
.rsf_div2_box1 > h2{
    color: gold;
    font-weight: bold;
    font-size: 3em;
}
.rsf_div2_box2 > h2{
    color: gold;
    font-weight: bold;
    font-size: 3em;
}
.rsf_div2_box3 > h2{
    color: gold;
    font-weight: bold;
    font-size: 3em;
}
.rsf_div2_box4 > h2{
    color: gold;
    font-weight: bold;
    font-size: 3em;
}

/* Main Page Footer With Links */
/* Main Page Footer With Links */
.main_page_footer_with_links{
    height: 30vh;
    width: 100%;
    background-color: #000;
    margin: 0%;
}
.socialmedia_divs{
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: #a6865b;

}








/* MOBILE BREAKPOINTS */
/* MOBILE BREAKPOINTS */
/* MOBILE BREAKPOINTS */
@media screen and (max-width: 1000px) {
    /* BIG DOUBLE PIC LEFT MOBILE*/
    /* BIG DOUBLE PIC LEFT MOBILE*/
    .big_double_divs_pic_left{
        height: fit-content;
        width: auto;
        margin: 0%;
        padding: 0%;
    }

    .bddpl_div1{
        display: none;
        background-image: none;
        box-shadow: none;
    }

    .bddpl_div2{
        height: 100%;
        background-color: black;
        margin: 0;
        width: 100%;
        background-image: url('~/images/landing_page_images/skill_01.jpeg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: black;
        position: relative;
        padding: 5rem;
        margin: 0%;
    }
    .bddpl_div2_txt{
       //
    }
    /* BIG DOUBLE PIC RIGHT MOBILE*/
    /* BIG DOUBLE PIC RIGHT MOBILE*/
    .big_double_divs_pic_right{
        height: fit-content;
        width: auto;
        margin-top: 1rem;
        padding: 0%;
        background-image: linear-gradient(#000 200px, #401d1a 900px);
    }

    .bddpr_div1{
        display: none;
        background-image: none;
        box-shadow: none;
    }

    .bddpr_div2{
        height: 100%;
        padding: 5rem;
        margin: 0%;
        background-image: url('~/images/landing_page_images/vintage_workshop.webp');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: black;
        position: relative;
    }



    /* Square Div Page Mobile Breakpoint */
    /* Square Div Page Mobile Breakpoint */
    .product_intro_4square_div{
        height: fit-content;
        padding-bottom: 2em;
    }

    .pi4cd_text{
        margin-top: 4em;
    }

    .product_intro_squaredivs1{
        background-color: saddlebrown;
    }
    .product_intro_squaredivs2{
        background-color: saddlebrown;
    }
    .product_intro_squaredivs3{
        background-color: saddlebrown;
    }
    .product_intro_squaredivs4{
        background-color: saddlebrown;
    }

    /* REVIEW SECTION FRONTPAGE MOBILE*/
    /* REVIEW SECTION FRONTPAGE MOBILE*/
    .review_section_frontpage_div{
        height: fit-content;
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
    .rsf_div1{
        margin: 0%;
        padding-top: 2em;
        padding-left: 1rem;
    }
    .rsf_div1, .rsf_div2{
        height: fit-content;
        width: 100%;
        background-color: rgb(80, 26, 26);
        padding-left: 1rem;
        border-radius: 0px;
    }
    .rsf_div1_btn{
        margin-bottom: 1em;
    }
    .rsf_div2_box1, .rsf_div2_box2, .rsf_div2_box3, .rsf_div2_box4{
        min-width: 100%;
        margin-bottom: 1.5em;
        padding-bottom: 1.5em;
        height: fit-content;
    }

    /* MAIN PAGE FOOTER MOBILE */
    /* MAIN PAGE FOOTER MOBILE */
    .main_page_footer_with_links{
        height: fit-content;
    }






    /* OTHER OTHER OTHER MOBILE*/
    /* OTHER OTHER OTHER MOBILE*/
    .space_divs{
        display: none;
    }
    .space_divs2 {
        display: none;
    }

}
