.edit_page{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3) ), url("/images/profile_page_images/edit_profile_background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.edit_form_div{
    height: fit-content;
    background-color: #a6865b;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
    width: 80%;
    padding: 3rem;
}



@media screen and (max-width: 1000px) {
    .edit_page{
        height: fit-content;
        padding-bottom: 3rem;
        padding-top: 3rem;
    }


    .edit_form_div{
        margin-top: 5rem;
        width: 95%;
        padding: 3rem;
    }
}
