.register-div{
    width: 100%;
    overflow: hidden;
    background: linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('~/images/register_page_images/register_background.webp');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    background-color: none !important;
    border: transparent !important;
    padding-right: 0% !important;
    padding-left: 0% !important;
}
.register-card{
    background-color: #a6865b;
}


/* MOBILE BREAKPOINTS */
/* MOBILE BREAKPOINTS */
/* MOBILE BREAKPOINTS */
@media screen and (max-width: 1000px) {
    .register_form_div{
        margin: 0%;
        padding: 1rem;
    }
}
